@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

main {
  font-family: 'Space Grotesk', sans-serif;
 
}
.main-section{
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-position: center center;


}
.address-input {
  @apply outline-none;
  @apply border;

  @apply rounded-2xl;

  @apply px-6;
  @apply py-2;

  @apply text-sm;

  @apply hover:border-[#AE9CFE];

  @apply transition;
  @apply duration-200;

  @apply focus:border-black;
  
}
